@import "./_variables";
@import "./_defaults";

// Views
@import "../views/Flight/flight.view";
@import "../views/Flights/flights.view";
@import "../views/Orders/orders.view";

// Components
@import "../components/SiteHeader/siteHeader.component";
@import "../components/Spinner/spinner.component";
@import "../components/SiteFooter/siteFooter.component";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  h3.title {
    border-bottom: 1px solid #566a80;
    margin: 0 0 0.5em;
  }

  article {
    margin: 0 auto;
    width: 80%;
  }

  section {
    flex: 1;
    padding: 1em 0;
  }
}

@media only screen and (max-width: $medium) {
  .App {
    section {
      padding: 1em;

      article {
        margin: unset;
        width: 100%;
      }
    }
  }
}
