@import "./_variables";
@import "./_defaults";

// Views
@import "../views/Flights/flights.view";

// Components
@import "../components/SiteHeader/siteHeader.component";
// @import "../components/SiteNav/siteNav.component";
// @import "../components/SiteSubNav/siteSubNav.component";
@import "../components/Spinner/spinner.component";
// @import "../components/Filters/filters.component";
// @import "../components/Pagination/pagination.component";
@import "../components/SiteFooter/siteFooter.component";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  section {
    flex: 1;
  }
}
